<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orange.vod.mapper.TeacherMapper">

    <resultMap id="BaseResultMap" type="com.orange.ggkt.model.vod.Teacher">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="intro" column="intro" jdbcType="VARCHAR"/>
            <result property="career" column="career" jdbcType="VARCHAR"/>
            <result property="level" column="level" jdbcType="OTHER"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="OTHER"/>
            <result property="joinDate" column="join_date" jdbcType="DATE"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,intro,
        career,level,avatar,
        sort,join_date,create_time,
        update_time,is_deleted
    </sql>
</mapper>
